<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Successful</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <!-- <p>Oops! something went wrong.</p>
        <h2>Your Order is Canceld!</h2> -->
        
      </div>
      <div class="card-body">
        <h1>Payment successful</h1>
      
        <p>Thank You</p>
        <a routerLink="/home" class="button"> Continue Order Food</a>
      </div>
    </div>
  </div>
</body>
</html>
