/* body {
    font-family: Arial, sans-serif;
    background-image: url();
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 10px;
    }
} */
body, html {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.login-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.9);
    overflow: hidden; /* Ensures the image adheres to the card's border radius */
}

.card-image img {
    max-width:100%; /* Adjust based on your image's aspect ratio */
    height: 100%;
}

.login-form {
    padding: 20px;
    display: flex;
    color: #f32121;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    font-size: large;
    font-weight: bolder;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e94545;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #f32121;
}

@media (max-width: 768px) {
    .login-card {
        flex-direction: column;
    }

    .card-image img {
        width: 100%; /* Adjust to maintain aspect ratio */
        height: 200px; /* Fixed height or auto for automatic adjustment */
    }
}

.error-list {
    font-family: Arial, sans-serif;
    color: #ff162d;
    margin-top: 5px; 
  }
  
 
  .error-list div {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    border-radius: 4px;
    margin-bottom: 5px; 
  }
  

  .error-list div {
    animation: slideIn 0.5s forwards, fadeOut 5s 1.5s ease-in-out forwards; 
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }