div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  div a {
    background-color: #f0f0f0;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: red;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  }
  
 div a.active {
    background-color: red;
    color: #f0f0f0;
  }
div a:hover{
 background-color: red;
 color: aliceblue;
}